@font-face {
  font-family: myFont;
  src: url('./pixeboy-font/Pixeboy-z8XGD.ttf');
}

canvas {
  display: block;
}

html, body {
  margin: 25px;
  /*background-color: #ce3635;*/
  /* background-color: #A293FF; */
  background-color: #efbc97;
  /* font-family: Helvetica, sans-serif, sans-serif; */
  font-family: myFont;
  
  font-size: 14px;
}

h1 {
  position: absolute;
  width: 1000px;
  height: 100px;
  left: 70px;
  top: 0px;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 141px;
  /* identical to box height */

  letter-spacing: 5px;

  color: #FFFFFF;
}

h2{
  position: absolute;
  width: 800px;
  height: 76px;
  left: 99px;
  top: 135px;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 76px;
  letter-spacing: 5px;

  color: #FFFFFF;
}

h3{
  width: 60px; 
  height: 60px; 
  font-size: 45px; 
  color: #FFFFFF;
  padding-left: 45px;
}

p {
  font-size: 30px;
  font-weight: normal;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 100px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  left:99px; 

  color: #FFFFFF;

  background: rgba(36, 0, 255, 0.37);
}

a {
  color: black;
  text-decoration: none;
  display: inline-block; 
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  color: white;
  text-align: center;
}


indexbutton{
  position: absolute;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  /* identical to box height */
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 5px;
  height: 75px; 
  left:99px; 
  color: #FFFFFF;
  background: rgb(35 0 255 / 37%);
  border: 4px solid black

}

indexbutton:hover{
  border: 4px solid #25dc31;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.parent {
  width:730px;
  height:120px;
  position: absolute;
  top:170px; 
  left:770px;
  text-align: center;
  align-content: center;
}
 
.child {
  position: absolute;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -130px);
}

.stars {
  visibility: hidden;
  left: 840px; 
  bottom:0px; 
  position:absolute; 
  width: 188px; 
  height: 210px; 
  z-index: 0;
}

.stars.animated {
  visibility: visible;
  overflow: auto;
  left: 840px; 
  position:absolute;
  bottom:0px;
  animation: fadein 1.5s ease;
  
}

.backbutton{
  position: absolute;
  width: fit-content;
  height: auto;
  left: 99px;
  top: 99px;
  background: rgb(35 0 255 / 37%);
  border: 4px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 5px;
  color: #FFFFFF;
  font-size: 15px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.backbutton:hover{
  border: 4px solid #25dc31;
  box-sizing: border-box;
}

.aboutPara{
  position: absolute;
  font-size: 23px;
  width: 1320px;
  top: 160px;
  left: 40px;
  line-height: 35px;
}
/* Mobile-friendly styles */

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .about {
    padding: 20px !important;
  }

  .about h1 {
    font-size: 100px !important;
    top: 80px !important;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
  }

  .about .aboutPara {
    width: 800px !important;
    position: static !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    left: 25% !important;
    position: absolute !important;
    font-size: 23px !important;
    top: 280px !important;
    height: fit-content !important;

  }

  .about .backbutton {
    font-size: 20px !important;
    width: 120px !important;
    margin: 20px !important;
  }
}

/* Common styles for all screen sizes */
.about h1 {
  font-size: 100px;
  top: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.about .backbutton {
  font-size: 30px !important;
  width: 150px !important;
}

/* Add any other necessary styles here */

